
/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 450px;
    margin: auto;
    background-color:  #111111;
}

body {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.padding {
    margin: 20px;
}

/* HEADER */
img {
    max-width: 100px;
    height: auto;
    border: solid #FFE071 3px;
    border-radius: 100px;
}

a:visited {
   color: #A3ABB2;
}

a:hover {
    color: #FFE071;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.subtext {
    color: #A3ABB2;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.head {
    font-size: 30px;
    font-weight: bold;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.line {
    border: #535353 1px solid;
    border-width: thin;
    margin: 30px 0;
}



